{% extends "KnwsPortfolioBundle::layout.html.twig" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="clients projects container_12">
    <h2 class="grid_12">Проекты разработанные мною. Люди ими пользующиеся, счастливы.</h2>
    {% for work in works %}
    <li class="{{work.class}}">
    <h3>
        <a href="{{ path('knws_portfolio_work', {'slug': work.slug}) }}">
        <span class="asset"></span>
        {{work.title}}
        <span class="date">{{work.date}}</span>
        </a>
    </h3>
    {% if work.tags.show == true %}<a class="{{work.tags.class}}" href="{{work.tags.url}}">{{work.tags.title}}</a>{% endif %}
    </li>
    {% endfor %}
  </div>
{% endblock %}